<h2><%= t'.quizzes' %></h2>

<div class="row">
  <a><%= link_to t('.new_quiz'), new_quiz_path, class: "btn blue waves-effect waves-light", style: "margin-right: 20px;" %></a>
</div>

<table class="highlight">
  <thead>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= link_to quiz.name, quiz_quiz_questions_path(quiz.id), class: "waves-effect waves-teal btn-flat" %></td>
        <td style = "text-align: right"><a style = "margin-right: 20px; color: #343434;">
          <%= link_to t('.edit'), edit_quiz_path(quiz), class: "waves-effect waves-light btn-small" %>
          <%= link_to t('.destroy'), quiz, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red waves-effect waves-light btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
