<br>
<a><%= link_to t('.all_quizzes').upcase, quizzes_path, style: "color: gray; font-size: large;" %></a>
<br>
<h2><%= t'.new_quiz' %></h2>
<%= form_with(model: @quiz, local: true) do |form| %>
  <table>
    <tr>
      <td><%= t '.name' %>:</td>
      <td><%= form.text_area :name, class: "input h-64" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= form.submit t('.submit'), data: { disable_with: "Saving..." }, class: "btn blue waves-effect waves-light left" %></td>
    </tr>
  </table>
<% end %>
<br>
