<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" <%= image_tag "homepage_image_1.jpg"%>></div>
</div>

<div class="center align">
  <h1><%= t '.hello' %></h1>
</div>

<div class = "container">
  <div class="row center">
        <%= link_to boards_path, class: "waves-effect waves-light btn-large" do %>
          <i class="material-icons left">bookmarks</i> <%= t('.get_started') %>
        <% end %>
  </div>
</div>
<br>
<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" <%= image_tag "homepage_image_2.jpg"%>></div>
</div>
