<Li><%= t '.logged' %> <strong><%= show_name(current_user) %>  <%= avatar_for(current_user) %></strong></Li>
<li><%= link_to t('.edit'), edit_user_registration_path, :class => 'navbar-link' %>Edit profile</li>
<li><%= link_to t('.logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link' %>Logout</li>
