  <nav class="teal lighten-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><%= t '.MEMORY CARDS' %></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger" id="hamburger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <%= render '/layouts/headers/header_signed_in' %>
        <% else %>
        <%= render '/layouts/headers/header_not_signed_in' %>
      <% end %>
        <li><%= link_to 'En', url_for(locale: :en), id: "En"%></li>
        <li><%= link_to 'Ru', url_for(locale: :ru), id: "Ru" %></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <% if user_signed_in? %>
        <%= render '/layouts/headers/header_signed_in' %>
        <% else %>
        <%= render '/layouts/headers/header_not_signed_in' %>
      <% end %>
    <li><%= link_to 'Eng', url_for(locale: :en) %></li>
    <li><%= link_to 'Rus', url_for(locale: :ru) %></li>
  </ul>
          