<%= form_for(@import, local: true) do |form| %>
  <% if @import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
        <% @import.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="file-field input-field required: true">
    <div class="btn input type:file"><%= t '.file' %><%= form.file_field :file, required: true%></div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload file">
    </div>
  </div>
  <div input type ="submit" class ="btn waves-effect waves-light" value = "Submit"><%= form.submit t('.submit')%></div>

<% end %>
