<br>
<a><%= link_to t('.all_boards').upcase, boards_path, style: "color: gray; font-size: large;" %></a>
<br>
<br>
<h2><%= t '.all_imports' %> </h2>
<br>
<div class="row">
<a><%= link_to t('.new'), imports_new_path, class: "btn teal waves-effect waves-light" %></a>
<i class="material-icons tooltipped right" data-position="left" data-tooltip="If you want to make import, press new import and choose the file" >help</i>
</div>
<br>
<br>
<table class="highlight">
  <thead>
  </thead>
  <tbody>
  <% @imports.each do |import| %>
    <tr>
      <td><%= import.file.filename %></td>
      <td><%= link_to t('.download'), rails_blob_path(import.file, disposition: "attachment"), class: "btn teal waves-effect waves-light btn-small" %></td>
  <% end %>
  </tbody>
</table>
