<br>
<a><%= link_to t('.all_boards').upcase, boards_path, style: "color: gray; font-size: large;" %></a>
<br>
<br>
<h2><%= t '.all_imports' %> </h2>
<br>
<div class="row">
<a><%= link_to t('.new'), new_import_path, class: "btn teal waves-effect waves-light" %></a>
<i class="material-icons tooltipped right" data-position="left" data-tooltip="<%= t '.notice' %>">help</i>
</div>
<br>
<br>
<table class="highlight">
  <thead>
  </thead>
  <tbody>
  <% @imports.each do |import| %>
    <tr>
      <td><%= import.file.filename %></td>
      <td><%= link_to t('.download'), rails_blob_path(import.file, disposition: "attachment"), class: "btn teal waves-effect waves-light btn-small" %>
      <%= link_to t('.destroy'), import, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red waves-effect waves-light btn-small" %></td>

  <% end %>
  </tbody>
</table>
