<br>
<a><%= link_to t('.all_boards').upcase, boards_path, style: "color: gray; font-size: large;" %></a>
<br>
<h2><%= "#{t('.edit_board')} # #{@board.name}" %>
</h2>
<br>
<%= form_with(model: @board, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <br>
  <%= form.submit t('.update')%>
<% end %>
