<h2><%= t'.boards' %></h2>

<div class="row">
  <a><%= link_to t('.new_board'), new_board_path, class: "btn blue waves-effect waves-light", style: "margin-right: 20px;" %></a>
  <a><%= link_to t('.import'), imports_path, class: "btn teal waves-effect waves-light", style: "margin-right: 20px;" %></a>
</div>

<table class="highlight">
  <thead>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.name, board_cards_path(board.id), class: "waves-effect waves-teal btn-flat" %></td>
        <td style = "text-align: right"><a style = "margin-right: 20px; color: #343434;">
          <%= board.confidence_board %><%= "%" if board.confidence_board != nil %>
          <%= link_to t('.edit'), edit_board_path(board), class: "waves-effect waves-light btn-small" %>
          <%= link_to t('.destroy'), board, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red waves-effect waves-light btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
