<h2><%= t'.new_board' %></h2>
<%= form_with(model: @board, local: true) do |form| %>
  <table>
    <tr>
      <td><%= t '.name' %>:</td>
      <td><%= form.text_area :name, class: "input h-64" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= form.submit t('.submit'), class: "btn blue waves-effect waves-light left" %></td>
    </tr>
  </table>
<% end %>
<br>
<%= link_to t('.all_boards'), boards_path, class: "btn blue waves-effect waves-light left" %>
