<table class="highlight">
  <% @cards.each do |card| %>
    <tr>
      <td>
        <div class="col s6">
          <div class="card horizontal black-text">
            <div class="card-content">
              <p><%= raw rouge_markdown(card.question) %><p>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="col s6">
          <div class="card horizontal black-text">
            <div class="card-content">
              <p><%= raw rouge_markdown(card.answer) %></p>
            </div>
          </div>
        </div>
      </td>
      <td>
        <p><%= card.confidence_level %></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td style = "text-align: right">
        <div class="col s12">
          <%= link_to t('.show'),  board_card_path(@board, card), class: "waves-effect waves-teal btn-flat btn-small" %>
        </div>
        <div class="col s12">
          <%= link_to t('.edit'), board_cards_edit_path(@board, card), class: "waves-effect waves-teal btn-flat btn-small" %>
        </div>
        <div class="col s12">
          <%= link_to t('.destroy'), [@board, card], method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-teal btn-flat btn-small" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
