<h2><%= @board.name %></h2>
<%= link_to t('.all_boards'), boards_path, class: "btn blue waves-effect waves-light left" %>
<br>
<br>
<br>
<%= link_to t('.new_card'), board_cards_new_path, class: "btn blue waves-effect waves-light left" %>
<br>
<br>
<br>
<table class="highlight">
  <% @cards.each do |card| %>
    <tr>
      <td><%= link_to card.question, board_card_path(@board, card), class: "waves-effect waves-teal btn-flat" %></td>
      <td style = "text-align: right"><%= link_to t('.edit'), board_cards_edit_path(@board, card), class: "waves-effect waves-light btn-small" %>
         <%= link_to t('.destroy'), board_cards_edit_path(@board, card), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red waves-effect waves-light btn-small" %></td>
    </tr>
  <% end %>
</table>
