<div class="row" style = "margin-top: 20px;">
<a><%= link_to t('.all_boards').upcase, boards_path, style: "color: gray; font-size: large;" %></a>
    <h2><%= @board.name %></h2>
  <a><%= link_to t('.learning'), learning_board_path(@board), class: "btn orange waves-effect waves-light", style: "margin-right: 20px;" %></a>
  <a><%= link_to t('.random'), learning_random_board_path(@board), class: "btn orange darken-2 waves-effect waves-light", style: "margin-right: 20px;" %></a><span style = "color: gray; font-size: x-large;"><%= "I know it " + @board.confidence_board.to_s + "%" if @board.confidence_board != nil %></span>
</div>
<br>
<div class="row">
	<a style="float:left;"><%= link_to t('.new_card'), board_cards_new_path, class: "btn teal lighten-2 waves-effect waves-light", style: "margin-right: 20px;" %></a>

  <a style = "font-size: medium; color: black;"><%= link_to 'BETTER', mark_up_board_path(@board), remote: true, class: "btn grey waves-effect waves-light", style: "float: right;"%></a>
  <a><%= link_to 'WORSE', mark_down_board_path(@board), remote: true, class: "btn grey waves-effect waves-light", style: "float: right; margin-right: 10px;" %></a>
  <a><%= link_to 'CUSTOM', custom_sort_board_path(@board), remote: true, class: "btn grey waves-effect waves-light", style: "float: right; margin-right: 10px;" %></a>
</div>
<div id = "list">
  <%= render "cards_list" %>
</div>
