<h1>Cards</h1>
<br>
<%= link_to 'New Card', cards_new_path %>
<br>
<br>
<table>
  <th>ID</th>
  <th>Question</th>
  <th>Answer</th>
  <th>Author</th>
  <% @cards.each do |card| %>
    <tr>
	  <td><%= link_to card.id, card_path(card) %></td>
	   <td><%= raw rouge_markdown(card.question) %></td>
	   <td><%= raw rouge_markdown(card.answer) %></td>
     <td><%= card.author.email %></td>
    </tr>
  <% end %>
</table>
