<h1>New Card</h1>
<%= form_with(model: @card, local: true) do |form| %>
  <table>
    <tr>
      <td>question:</td>
      <td><%= form.text_area :question, class: "input h-64" %></td>
    </tr>
    <tr>
      <td>answer:</td>
      <td><%= form.text_area :answer, class: "input h-64" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= form.submit "Create card" %></td>
    </tr>
  </table>
<% end %>
<br>
<%= link_to 'All Cards', cards_path %>
