<h1>New Card</h1>
<%= form_with(model: @card, local: true) do |form| %>
  <table>
    <tr>
      <td>question:</td>
      <td><%= form.text_field :question %></td>
    </tr>
    <tr>
      <td>answer:</td>
      <td><%= form.text_field :answer %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= form.submit "create" %></td>
    </tr>
  </table>
<% end %>
<br>
<%= link_to 'All Cards', cards_path %>
