<%= stylesheet_link_tag "cards" %>
<br>
<br>
  <%= link_to t('.back_to_board').upcase, board_cards_path(@board), style: "color: gray; font-size: large;"%>
<div class = "row", style = "float: right;">
  <a style = "font-size: medium;"><%= link_to t('.update'), board_cards_edit_path(@board, @card), class: "btn grey waves-effect waves-light left", style: "margin-right: 20px;"%></a>
  <a style = "font-size: medium;"><%= link_to t('.destroy'), board_card_path(@board, @card), method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn grey waves-effect waves-light left" %></a>
</div>
<br>
<br>
<div class="card blue-grey darken-1 center-align">
  <div class="activator card-content white-text">
    <h4><%= raw rouge_markdown(@card.question) %></h4>
    <div class="input-field col s12">
      <button class="activator btn waves-effect waves-light show">SHOW</button>
    </div>
  </div>

  <div class="card-reveal black-text center-align">
    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
    <h4><%= raw rouge_markdown(@card.answer) %></h4>
    <p class = 'smaller'>How well did I know it?</p>
    <div style = 'display:inline-block'><%= button_to "1", board_card_update_confidence_path(@board, @card), method: :patch, remote: true, params: { confidence_level: 'very_bad' }, class: 'btn red darken-2' %></div>
    <div style = 'display:inline-block'><%= button_to "2", board_card_update_confidence_path(@board, @card), method: :patch, remote: true, params: { confidence_level: 'bad' }, class: 'btn red accent-2' %></div>
    <div style = 'display:inline-block'><%= button_to "3", board_card_update_confidence_path(@board, @card), method: :patch, remote: true, params: { confidence_level: 'medium' }, class: 'btn amber' %></div>
    <div style = 'display:inline-block'><%= button_to "4", board_card_update_confidence_path(@board, @card), method: :patch, remote: true, params: { confidence_level: 'good' }, class: 'btn blue-grey lighten-1' %></div>
    <div style = 'display:inline-block'><%= button_to "5", board_card_update_confidence_path(@board, @card), method: :patch, remote: true, params: { confidence_level: 'perfect' }, class: 'btn green darken-1' %></div>
    <%= render 'confidence' %>
    <br>
  </div>
</div>
