<h2>Card #<%= @card.id %></h2>
<h5>Board: <%= link_to "#{@board.name}", board_cards_path(@board) %></h5>
<br>
<br>
<h5>Question:</h5>
<p><%= raw rouge_markdown(@card.question) %></p>
<h5>Answer:</h5>
<p><%= raw rouge_markdown(@card.answer) %></p>
<br>
<%= link_to 'Edit Card', board_cards_edit_path(@board, @card) %>
<br>
<%= link_to 'Destroy', board_card_path(@board, @card), method: :delete,
data: { confirm: 'Are you sure?' } %>
<p><i>author: <%= @card.author.email %></i></p>
