<!DOCTYPE html>
<html>
  <head>
    <title>MemoryCards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "materialize_alert" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <% if notice %>
    <div class="materialert info">
        <div class="material-icons">info_outline</div>
        <%= notice %>
    </div>
    <% end %>
    
    <% if alert %>
     <div class="materialert error">
        <div class="material-icons">error_outline</div>
        <%= alert %>
    </div>
    <% end %>

    <%= render '/layouts/headers/navbar' %>

    <div class = "container">
      <%= yield %>
    </div>

  </body>
</html>
